<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DobraDietaApp.Properties.Settings.DobraDietaConnectionString"
            connectionString="Data Source=desktop-ejmt7jc;Initial Catalog=DobraDieta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DobraDietaApp.Properties.Settings.GoodDietDbConnectionString"
            connectionString="Data Source=DESKTOP-69UK86F\SQLEXPRESS;Initial Catalog=GoodDietDb;Persist Security Info=True;User ID=GoodDietUser;Password=Dobra17Dieta"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>